h1 {
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 115px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

/* contacts */
.contact-block {
  justify-self: left;
  line-height: 1.3;
  padding-right: 56px;
  font-style: normal;
}

.topbar__contact {
  justify-self: right;
}

.link-contact {
  max-width: 210px;
  width: 100%;
  text-underline-offset: 17%;
}

/* common overlay -> shade */
.shade {
  position: absolute;
  opacity: 60%;
  z-index: 1;
  background-color: #000;
  inset: 0;
}

/* header -> topbar / nav / brand */
.topbar {
  display: grid;
  grid-template-columns: 1fr 130px 1fr;
  grid-template-rows: 105px;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  background-color: #fff;
  padding: 93px 22px 96px 19px;
}

.nav {
  justify-self: left;
}

.nav__list {
  display: flex;
  list-style-type: circle;
  gap: 34px;
  margin-left: 33px;
  margin-top: 6px;
}

.nav__item:first-of-type {
  list-style-type: none;
}

.nav__link {
  text-decoration: underline;
  text-underline-offset: 8%;
}

.nav__link--current {
  text-decoration: none;
}

.brand__img {
  width: 136px;
}

/* hero (cover) */
.hero {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  z-index: 0;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.hero__title {
  position: relative;
  display: block;
  z-index: 2;
  padding: 162px 49px 116px 53px;
  line-height: 115px;
  letter-spacing: 0.3em;
}

.kern-wide {
  letter-spacing: 0.6em;
}

.kern-none {
  letter-spacing: 0em;
}

.hero__line {
  position: relative;
  display: block;
  padding-bottom: 20px;
  width: 100%;
  z-index: 2;
}

.hero__line--center {
  text-align: center;
  line-height: 100px;
}

.hero__line--right {
  text-align: right;
  line-height: 100px;
}

.hero__actions {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 305px;
  grid-template-rows: 53px;
  z-index: 1;
}

.hero__tagline {
  word-spacing: 18px;
  font-size: 22px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.btn-bid {
  font-family: Raleway, sans-serif;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 33px 13px 30px;
  font-size: 22px;
  margin-right: auto;
  text-transform: uppercase;
}

/* gallery (lots) */
.gallery {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 25px;
  padding: 186px 26px 0px 24px;
}

.gallery__title {
  text-transform: uppercase;
  padding-left: 38px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  list-style: none;
  gap: 26px;
  justify-content: space-between;
  color: #fff;
}

.gallery__item {
  display: flex;
  flex-grow: 1;
}

.tile-link {
  display: block;
  width: 100%;
  text-decoration: none;
}

.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  z-index: 0;
  padding: 54px 37px 48px 40px;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  background-position: center;
  background-size: cover;
  min-height: 563px;
}

.tile--film {
  background-image: url(../images/card-lot-01.jpg);
}

.tile--book {
  background-image: url(../images/card-lot-02.jpg);
}

.tile--art {
  background-image: url(../images/card-lot-03.jpg);
}

.tile__title {
  text-decoration: underline;
  z-index: 2;
  justify-content: space-between;
  align-self: flex-start;
  align-content: flex-start;
}

.tile__desc {
  display: block;
  font-size: 20px;
  z-index: 2;
  align-self: flex-end;
  align-content: flex-end;
  justify-content: end;
  justify-self: end;
  margin-top: auto;
  line-height: 1.2;
}

.gallery__more {
  font-size: 20px;
  font-weight: 400;
  text-underline-offset: 10%;
  text-decoration: underline;
  padding-left: 38px;
  padding-top: 2px;
}

/* blurb (about) */
.blurb {
  display: block;
  background-color: #fff;
  padding: 181px 2px 0 42px;
}

.blurb__grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 240px 350px;
  grid-template-areas:
    'about__column about__title'
    '. about__text';
}

/* keep same grid areas to avoid rewriting HTML content areas;
   names are arbitrary to the browser */
.blurb__col {
  display: flex;
  grid-area: about__column;
  justify-self: center;
}

.blurb__logo {
  display: flex;
  position: relative;
  width: 240px;
  border-radius: 50%;
  background-color: #000;
  justify-content: center;
  justify-self: center;
}

.blurb__logo-img {
  width: 147px;
  align-self: center;
}

.blurb__title {
  display: flex;
  grid-area: about__title;
  align-self: center;
  margin-left: 40px;
}

.blurb__text {
  display: flex;
  flex-direction: column;
  gap: 26px;
  grid-area: about__text;
  font-size: 20px;
  font-weight: 400;
  margin: 3px 21px 0 42px;
  line-height: 1.2;
  word-spacing: 1px;
}

/* footer */
.site-footer {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 18px;
  font-weight: 400;
  padding: 148px 49px 88px 52px;
}

.site-footer__menu {
  justify-self: center;
  text-align: center;
}

.site-footer__list {
  list-style: none;
}

.site-footer__link {
  text-decoration: underline;
}

.site-footer__link--current {
  text-decoration: none;
}

.social {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-self: end;
}

.social__icon {
  height: 48px;
  width: 48px;
}